* {
  margin: 0;
  padding: 0;
}

.space {
  height: 100px;
}

header {
  height: 15vh; 
  align-items: center;
  display: flex;
  background-color: #000000;
}

.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
}

.navbar_container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  font-size: larger;
  color: #ffffff;
}

.logo .img_navbar {
  height: 15vh;
  border-radius: 50px;
}

.img_logo {
  height: 25vh;
}

.agora {
  font-weight: 800;
  font-size: larger;
}

.icon_submarine {
  width: 20px;
}

/* Banner */

.banner {
  display: flex;
  justify-content: flex-end;
}

.banner_container {
  height: 90vh;
  width: 60%;
  background-image: url("../../imgs/beatles_banner.jpg");
  background-size: cover;
}

.banner_logo {
  background-color: #ffffff;
  font-size: 50px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* body section */

.banner_text {
  display: flex;
  justify-content: space-evenly;
}

.text_container {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  /* background-color: rgb(0, 0, 0, 0.7);
  border-radius: 300px; */
}

.banner_text .img_container {
  display: flex;
  align-items: flex-end;
}

.img_text_banner {
  margin-top: 10%;
  height: 60vh;
  border-radius: 25px;
}


/* footer */

footer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
