* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: #161618;
}

::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #363636;
}

/* Home */

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  background-color: #131313;
}

header.sticky {
  padding: 5px 100px;
  background: #ffffffc0;
  height: 15vh;
}

span .img_navbar {
  height: 15vh;
  border-radius: 50px;
}

header.sticky span .img_navbar {
  height: 10vh;
  border-radius: 50px;
  background-color: #000000;
}

header span .img_navbar {
  position: relative;
  transition: 0.6s;
}

header .navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}

header .navbar li {
  position: relative;
  list-style: none;
}

header .navbar li a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: large;
  font-size: larger;
  transition: 0.6s;
}

header.sticky .navbar li a {
  color: #000000;
  font-weight: bolder;
  font-size: larger;
}

header.sticky .navbar li .primeiro_link {
  color: #fc3ab3;
  /* border-bottom: 2px solid #000000; */
  font-weight: bolder;
  font-size: 25px;
}

header.sticky .navbar li .segundo_link {
  color: #c4b122;
  /* border-bottom: 2px solid #000000; */
  font-weight: bolder;
  font-size: 25px;
}

header.sticky .navbar li .terceiro_link {
  color: #008fb7;
  /* border-bottom: 2px solid #000000; */
  font-weight: bolder;
  font-size: 25px;
}

header.sticky .navbar li .quarto_link {
  color: #fc4750;
  /* border-bottom: 2px solid #000000; */
  font-weight: bolder;
  font-size: 25px;
}

/* header.sticky .navbar {
  background-color: #eee8e8;
  border-radius: 10px;
} */

.icon_submarine {
  width: 25px;
}

/* Header ------------------------ */

/* Banner */

.banner {
  display: flex;
  justify-content: space-evenly;
  background-color: #131313;
  height: 120vh;
}

.banner_container {
  height: 90vh;
  width: 60%;
  margin-top: 10%;
  border-radius: 20px;
  background-image: url("../assets/imgs/beatles_banner.png");
  background-size: cover;
}

.img_logo {
  height: 60%;
  border-radius: 20px;
  margin-left: 10%;
}

.banner_logo {
  background-color: #131313;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
}

.texto_slide {
  background-color: #ffffff00;
  color: #ffffff;
  padding: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

.texto_slide h2 {
  border-bottom: 2px solid #000000;
}

.banner_slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #131313;
}

.slider {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px #161618e8;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide .img_slide {
  width: 900px;
  height: 500px;
}

/* css for manual slides */

.navigation_manual {
  position: absolute;
  width: 900px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.manual_btn {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual_btn:not(:last-child) {
  margin-right: 40px;
}

#manual_btn1:hover {
  background-color: #fc3ab3;
}

#manual_btn2:hover {
  background-color: #e6cb06;
}

#manual_btn3:hover {
  background-color: #008fb7;
}

#manual_btn4:hover {
  background-color: #fc4750;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for auto slides */

.navigation_auto {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 900px;
  margin-top: 20px;
}

.navigation_auto div {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.navigation_auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation_auto .auto_btn1 {
  background: #00d7fd;
}

#radio2:checked ~ .navigation_auto .auto_btn2 {
  background: #00d7fd;
}

#radio3:checked ~ .navigation_auto .auto_btn3 {
  background: #00d7fd;
}

#radio4:checked ~ .navigation_auto .auto_btn4 {
  background: #00d7fd;
}

/* Banner ------------------------ */

/* Banner texto */

.banner_texto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  height: 100vh;
  padding: 5%;
}

.texto_container {
  display: flex;
  width: 50%;
  height: 80vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  border-radius: 20px;
  background-color: #ffffff0e;
  padding: 0 5% 2% 5%;
}

.img_banner_texto {
  background-image: url("../assets/imgs/john_paul.jpg");
  background-size: cover;
  height: 75vh;
  width: 50%;
  border-radius: 20px;
  margin-left: 2%;
}

/* Banner texto ------------------------ */

/* Banner Game */

.banner_game {
  height: 130vh;
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #131313;
}

.banner_game h1 {
  position: relative;
  font-size: 35px;
  font-weight: lighter;
  font-family: "Source Code Pro", monospace;
}

.banner_game h1::before,
.banner_game h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.banner_game h1::before {
  background: #131313;
  animation: typewriter 6s steps(38) 1s forwards;
}

.banner_game h1::after {
  width: 0.125em;
  background: #ffffff;
  animation: typewriter 6s steps(38) 1s forwards, 
  blick 700ms steps(38) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.div_button {
  width: 50vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div_button button {
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  height: 80%;
  width: 30%;
}

.btn_game {
  background-color: #000000;
  color: #ffffff;
  border-radius: 30px;
  transition: transform 0.3 ease;
}

.btn_game::after,
.btn_game::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #000000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn_game:hover {
  transform: translate(-12px, -12px);
}

.btn_game:hover::after {
  transform: translate(6px, 6px);
}

.btn_game:hover::before {
  transform: translate(12px, 12px);
}

.div_albums {
  background-color: #ffffff0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  height: 80vh;
  width: 60%;
}

#output_albums {
  position: absolute;
  z-index: 1000;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: #919191fa;
}

#output_albums h4 {
  color: #ffffff;
  font-size: 40px;
  font-weight: lighter;
  background-color: #1313133f;
  border-radius: 20px;
  padding: 2%;
}

.div_albums .img_album {
  width: 50%;
  border-radius: 20px;
  height: 50vh;
}

.img_link {
  margin-top: 10%;
  height: 10vh;
}

/* Banner Game ------------------------ */

/* Home ------------------------------------------------------------------------- */

/* Cadastro */

.cadastro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8%;
  height: 130vh;
  background-color: #131313;
}

.cadastro_container {
  width: 35%;
  height: 90vh;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(
    /* #fc3ab3 3%,
    #c4b122 45%,
    #008fb7 50%,
    #fc4750 85% */ #f82ba9bb,
    #ffe732bb,
    #00aedfbb,
    #fd3640bb
  );
}

.banner_cadastro {
  height: 90vh;
  width: 40vw;
  border-radius: 20px;
  /* margin: 2%; */
  background-image: url("../assets/imgs/beatles_color.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h2 login e cadastro */
.cadastro_container h2,
.login_container h2 {
  margin: 0 0 30px;
  padding: 0;
  text-transform: uppercase;
}

/* input login e cadastro */
.cadastro_container input,
.login_container input {
  padding: 10px 0;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bolder;
  width: 25vw;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: #00000000;
}

input:-internal-autofill-selected {
  background-color: #00000000;
}

/* label login e cadastro */
.cadastro_container label,
.login_container label {
  font-size: 18px;
  font-weight: bolder;
}

/* button login e cadastro */
.cadastro_container button,
.login_container button {
  height: 8vh;
  width: 40%;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  background-color: #161618;
  box-shadow: 0 5px 10px #000000;
  color: #ffffff;
  font-size: large;
}

.cadastro_container .select_container {
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

select {
  box-shadow: 0 5px 15px #000000;
  font-size: 1rem;
  padding: 1em 4em 1em 1.5em;
  margin-top: 10px;
  /* background: #00000093; */
  background-color: #161618;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
}

.select_container {
  position: relative;
}

.select_container span {
  font-size: 18px;
}

.custom_arrow {
  position: absolute;
  top: 2rem;
  right: 0;
  display: block;
  background: #0000009c;
  border-radius: 0 10px 10px 0;
  height: 64%;
  width: 15%;
  pointer-events: none;
}

/* cadastro ------------------------------------------------------------------------- */

/* Login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  height: 120vh;
  background-color: #131313;
}

.card_login {
  width: 100%;
  height: 80%;
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 50px;
}

.login_container {
  width: 35%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-image: url('../assets/imgs/all_you_need.jpg');
  background-size: cover; */
  background-image: radial-gradient(
    /* #fc3ab3 3%,
    #c4b122 45%,
    #008fb7 50%,
    #fc4750 85% */ #fc3ab3,
    #c4b122,
    #008fb7,
    #fc4750
  );
}

.banner_login {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_login {
  width: 90%;
}

/* login ------------------------------------------------------------------------- */

/* Albums */
.banner_galeria {
  /* width: 10vw; */
  display: flex;
  flex-direction: column;
  background-color: #131313;
  /* justify-content: center; */
}

.linha_um {
  margin-top: 20vh;
}

.linha_um,
.linha_dois,
.linha_tres,
.linha_quatro,
.linha_cinco {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.album {
  position: relative;
}

.album_img {
  height: 70vh;
  width: 33vw;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.button_search {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.album:hover .album_img {
  opacity: 0.5;
  background-color: #000000;
}

.album:hover .button_search {
  opacity: 1;
}

.search {
  /* background-color: #2a2b2b; */
  color: white;
  font-size: 16px;
  /* padding: 16px 32px; */
  height: 80px;
  width: 80px;
  background-image: url("../assets/imgs/search.png");
  background-size: cover;
}

/* albums ------------------------------------------------------------------------- */

/* Footer */

footer {
  height: 50vh;
  color: #ffffff;
  background-color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/imgs/footer.png");
  background-size: cover;
}

/* ------------------------ */

/* Error  */

.mensagem_erro {
  width: 420px;
  height: 130px;
}

.span_erro {
  width: 100%;
  height: 100%;
  background-color: #eee8e8;
  border-radius: 20px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  animation: validacao 1s;
  transition: linear 2s;
}

@keyframes validacao {
  0% {
    margin: 0;
  }

  20% {
    margin: 3px;
  }

  40% {
    margin: 6px;
  }

  60% {
    margin: 4px;
  }

  80% {
    margin: 3px;
  }

  100% {
    margin: 0px;
  }
}

/* error ------------------------------- */
