/* pagina mural */

*,
body {
  padding: 0;
  margin: 0;
  font-family: 'Metal Mania', cursive;
}

::-webkit-scrollbar {

  width: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: #161618;
}

::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #363636;
}

/* Header */

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 15% 15% 0;
  border-right: 2px solid #7e7d7d;
  background-color: #000000;
}

.header-left h1 {
  color: #ffffff;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.hello h3 {
  color: #e3b062;
  font-weight: lighter;
  font-size: 1rem;
}

.hello h3 span {
  font-weight: bolder;
  border-bottom: 2px solid #e3b062;
}

.btn-nav {
  width: 30%;
  color: #000000;
  background-color: #b6b6b6;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  cursor: pointer;
 
}

.btn-nav a {
  text-decoration: none;
  color: #000000;
}

.btn-logout {
  width: 20%;
  background-color: #b6b6b6;
  color: #000000;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* Header ----------------------- */

/* pagina cards*/

.dash {
  width: 80%;
  height: 710vh;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #07162c;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.dash .bubbles{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800vh;
  overflow: hidden;
}

.bubbles {
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #38eef5;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 20s linear infinite;
  animation-duration: calc(120s / var(--i)) ;
}

.bubbles span:nth-child(even){
  background-color: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}

@keyframes animate 
{
  0%
  {
    transform: translateY(800vh) scale(0.3);
  }
  100%
  {
    transform: translateY(-1vh) scale(1.3);
  }
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 15vh;
  margin-top: 30px;
  z-index: 1000;
}

.perigo-frio {
  border: 2px solid #000000;
  background-color: #5c6bc0;
}

.perigo-quente {
  border: 2px solid #000000;
  background-color: #ff7043;
}

.alerta-frio {
  border: 2px solid #000000;
  background-color: #42a5f5;
}

.alerta-quente {
  border: 2px solid #000000;
  background-color: #ffee58;
}

.ideal {
  border: 2px solid #000000;  
  background-color: #9ccc65;
}

.item-regua {
  width: 15%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 95%;
  align-items: center;
  color: white;
  z-index: 1000;
}

.card {
  margin: 2.5% 1%;
  width: 40%;
  height: 90vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #212124;
  box-shadow: 0 10px 10px 0 #000000;
  font-size: 20px;
  border-radius: 20px;
  position: relative;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: larger;
  width: 100%;
  height: 10%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 10px 20px;
}

.capa_album {
  margin: 5px;
  margin-left: 5%;
  width: 75%;
}

.tamanho_album {
  width: 25vw;
  height: 60vh;
  border-radius: 20px;
}

.cor-alerta {
  width: 20%;
  height: 5%;
  border-radius: 50px;
  margin: 5%;
  background-color: #c7c7c7;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 45px;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #000000;
  background-color: #c7c7c7;
  margin: 5px;
}

