/* pagina mural */

*,
body {
  padding: 0;
  margin: 0;
  font-family: 'Metal Mania', cursive;
}

/* Header */

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #b9b9b9;
  background-color: #212124;
}

.header-left h1 {
  color: #ffffff;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.hello h3 {
  color: #e3b062;
  font-weight: lighter;
  font-size: 1rem;
}

.hello h3 span {
  font-weight: bolder;
  border-bottom: 2px solid #e3b062;
}

.btn-nav {
  width: 30%;
  color: #000000;
  background-color: #b6b6b6;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  cursor: pointer;
}

.btn-logout {
  width: 20%;
  background-color: #b6b6b6;
  color: #000000;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* Header ----------------------- */

/* pagina cards*/

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: #161618;
  height: 705vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 15vh;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  width: 15%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 95%;
  align-items: center;
  color: white;
}

.card {
  margin: 2.5% 1%;
  width: 40%;
  height: 90vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #212124;
  font-size: 20px;
  border-radius: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: larger;
  width: 100%;
  height: 10%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 10px 20px;
}

.capa_album {
  margin: 5px;
  margin-left: 5%;
  width: 75%;
}

.tamanho_album {
  width: 25vw;
  height: 60vh;
  border-radius: 20px;
}

.cor-alerta {
  width: 20%;
  height: 5%;
  border-radius: 50px;
  margin: 5%;
  background-color: #c7c7c7;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 45px;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  margin: 5px;
}

